---
title: false
styles: true
---

@import "alembic";
.feature-image {
  background-image: url('{{ page.feature_image }}');
  background-size: cover;
  background-position: left;
}

.feature-text-white {
  color: white;
}
